.texteFaq {
    font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
    width: 48em;
    margin: auto;
    padding: 40px;
    display: flexbox;
    flex-direction: column;
    position: relative;
    top: 20px;
}

.questions {
    position: static;
    top: 30px;
    font-size: 20px;
    color: rgb(1, 88, 77);
    margin-top: 15px;
}

.reponses {
    position: static;
    font-size: 16px;
    color: black;
    padding-top: 10px;
}

#img {
    margin: auto;
    width: auto;
    height: auto;
    display: block;
    position: relative;
    top: 20px;
}

.title {
    margin: auto;
    top: 2em;
    text-align: center;
    font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: aquamarine;
    display: block;
    position: relative;
}

